@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before,
.slick-next:before {
  color: black; /* Or any color that contrasts your background */
  font-size: 32px; /* Optional: Adjust the size */
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
